.container {
    margin-top: 20px;
    background-color:#282A40 ;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    min-height: 1000px;
    display: flex;
    justify-content: center;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.table thead {
    border-bottom: 2px solid #fff;
    margin-bottom: 5px !important;
} 
.table th {
    font-size: 1rem;
    padding: 10px 0;
}
.heartIcon {
    font-size: 1.5rem !important;
    text-align: right;

}
.table tbody tr {
    height: 80px;
    border-bottom: 1px;
    font-weight: 600;
    font-size: 1.1rem;
}
.symbol {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.symbol img {
    width: 25px;
    height: 25px;
    margin-right:10px ;
}
.thC {
    text-align: right;
    
}